.header{
    background-color: black;
    border-bottom: 2px solid rgb(32, 174, 245);
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header span{
    font-size: 2rem;
    color:rgb(32, 174, 245);
    font-weight: 500;
}


.header a{
    text-decoration: none;
    color:aliceblue;
    padding-inline: 1rem;
    font-size: 1.125rem;
}
